.footer {
  height: 70px;
  font-size: $base-fontsize;
  background:$base-bgcolor;
  display: flex;
  justify-content: space-between;
  font-family: 'Kosugi Maru', sans-serif;

  &__logo {
    margin-top: 20px;
    margin-left: 20px;
    font-size: $base-fontsize * 2;
    font-family: 'Pacifico', cursive;
  }

  &__nav {
    margin-top: 30px;
    margin-right: 30px;
  }

  &__nav ul li{
    display: inline;
    margin-right: 10px;
  }
}
